//body: background / music?!
body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: fill;
    margin: 0 auto;
    text-align: center;

}

//header
.head {animation: flicker 1.5s infinite alternate;
    color: #fff;

    font-size: 3rem;    
    }

  /* Flickering animation */
    @keyframes flicker {

    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

//buttons: start, replay, home
//box-container
.box-container {
    width: 256px;
    background: lightpink;
    padding: 10px;
    border-radius: 15px;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
}

//boxes
.box {
    min-width: 80px;
    min-height: 80px;
    display: inline-block;
    border: 2px solid lightpink;
    background: rgb(189, 136, 217);
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
// noughts and crosses colours
h1{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

//highlight empty boxes when hovering (hover)